// .formlist {
//     // height: 100vh;
//     // width: 50vw;
// }
// .card {
//     margin-top: 20px;
// }
.button {
    border-radius: 8px;
    width: 10%;
    background: #ccc;
}
.Hight {
    color: red;
}
.high {
    color: red;
}
.color {
    color: aliceblue;
}
